<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="p-4 bg-white dark:bg-slate-900">
    <div class="w-48 divide-y bg-slate-50 dark:divide-slate-700 bg-transparent">
        <div class="px-3 py-2">
            <div class="text-sm dark:text-white">Signed in as</div>
            <div class="text-sm font-semibold dark:text-white">Administrator999</div>
        </div>
        <div>
            <ul class="max-w-md list-inside list-none text-sm dark:text-white">
                <li>
                    <a href=""
                        class="flex bg-transparent px-3 py-2 duration-300 hover:bg-slate-200 dark:hover:bg-slate-700">Your
                        Profie</a>
                </li>
                <li>
                    <a href=""
                        class="flex bg-transparent px-3 py-2 duration-300 hover:bg-slate-200 dark:hover:bg-slate-700">Settings</a>
                </li>
                <li>
                    <a href=""
                        class="flex bg-transparent px-3 py-2 duration-300 hover:bg-slate-200 dark:hover:bg-slate-700">Support</a>
                </li>
            </ul>
        </div>
        <div class="rounded-b-md">
            <a href=""
                class="flex rounded-b-md bg-transparent px-3 py-2 text-sm duration-300 hover:bg-slate-200 dark:text-white dark:hover:bg-slate-700">Logout</a>
        </div>
    </div>
</body>

</html>