<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div
        class="fixed top-0 right-0 left-0 flex flex-col justify-between space-y-4 bg-slate-200 py-4 px-10 lg:static lg:h-auto lg:flex-row lg:space-y-0">
        <div class="rounded-md border-2 border-dashed border-slate-400 p-3">Logo</div>
        <div class="rounded-md border-2 border-dashed border-slate-400 p-3">Nav Bar Items</div>
    </div>
</body>

</html>